extends ../shared/template

block content
  h1.bannertwo Artists
  a.newbutt.button.button-rounded(href='/artists/new') New Artist
  br
  each artist in artists
    a.artists(href='#')
      .artistart: img(src='/img/#{artist.name}/#{artist.photo}')
      .artistname= artist.name
