@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body{
  font-family: 'Varela Round', sans-serif;
}

#nav{
  position:fixed;
  top:0;
  height:50px;
  width:100%;
  background-color:rgb(80,80,80);
  ul{
    text-align:center;
    li{
      display:inline-block;
      margin: 0 5%;
      a{
        text-decoration:none;
        color:black;
      }
      a:active{
        color: red;
      }
    }
  }
}

img{
  height:200px;
  width:200px;
}

.thumbnail{
  text-align: center;
}

#guard{
  height:50px;
}

table{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(200,200,200);
  background-color:rgba(100,100,100,0.5);
}

th{
  padding: 5px;
}

td{
  padding: 20px;
}

a.nav{
  text-decoration:none;
  padding: 5px;
}

a.nav:hover{
  border-radius: 5px;
  background-color: grey;
}

a.nav:active{
  color: red;
}

.banner{
    font-size: 80px;
    text-align: center;
    -webkit-animation: color-change 8s infinite;
    -moz-animation: color-change 8s infinite;
    -o-animation: color-change 8s infinite;
    -ms-animation: color-change 8s infinite;
    animation: color-change 8s infinite;
}

@-webkit-keyframes color-change {
    0% { color: white; }
    50% { color: rgb(145,43,24); }
    100% { color: white; }
}
@-moz-keyframes color-change {
    0% { color: white; }
    50% { color: rgb(145,43,24); }
    100% { color: white; }
}
@-ms-keyframes color-change {
    0% { color: white; }
    50% { color: rgb(145,43,24); }
    100% { color: white; }
}
@-o-keyframes color-change {
    0% { color: white; }
    50% { color: rgb(145,43,24); }
    100% { color: white; }
}
@keyframes color-change {
    0% { color: white; }
    50% { color: rgb(145,43,24); }
    100% { color: white; }
}

.bannertwo{
  font-size: 40px;
  color: white;
  text-align: center;
}

.artists, .albums{
  float: left;
  margin-top: 19px;
  margin-right: 19px;
  margin-bottom: 0px;
  margin-left: 19px;
  border: 1px solid white;
  text-decoration: none;
}

.artists:hover, .albums:hover{
  opacity: 0.5;
}

.newbutt{
  margin-left: 20px;
}

.albumart, .artistart{
  height: 200px;
  width: 200px;
}

.albumname, .artistname{
  text-align: center;
  background-color:rgba(255,255,255,0.4);
  margin-top: 0px;
  color: rgb(25,25,25);
}

.songlink{
  text-decoration: none;
  color: black;
  padding: 0px;
  border: none;
}

.songlink:hover{
  background: none;
  color: red;
}

.form{
  margin-top: 40px;
  margin-left: 20px;
  background-color:rgba(255,255,255,0.4);
  border: 1px solid white;
  width: 665px;
}

.form2{
  margin-top: 40px;
  margin-left: 20px;
  background-color:rgba(255,255,255,0.4);
  border: 1px solid white;
  width: 410px;
}

input{
  margin: 5px;
  display: inline;
}

select{
  margin: 5px;
  display: inline;
}

.addsong{
  margin-left: 315px;
  margin-bottom: 5px;
}

.logo1{
  margin-left: 100px;
  float: left;
  height: 520px;
  width: 520px;
  border-radius: 50%;
  background:url(/img/nodejs.png) no-repeat center;
  background-color: rgba(100,100,100,0.9);
}

.logo2{
  margin-right: 100px;
  float: right;
  height: 520px;
  width: 520px;
  border-radius: 50%;
  background:url(/img/mongodb.png) no-repeat center;
  background-color: rgba(100,100,100,0.9);
}

.logo1:hover, .logo2:hover{
  background-color: rgba(50,50,50,0.9);
}
