extends ../shared/template

block content
  h1.bannertwo Albums
  a.newbutt.button.button-rounded(href='/albums/new') New Album
  br
  each album in albums
    a.albums(href='#')
      .albumart: img(src='/img/#{album.name}/#{album.photo}')
      .albumname= album.name
