extends ../shared/template

block content
  h1 Albums
  a(href='/albums/new') New album

  each album in albums
    .albums
      .albumart: img(src='/img/#{album.name}/#{album.photo}')
      .albumname= album.name
