extends ../shared/template

block content
  h1 albums
  a(href='/albums/new') New album

  table
    thead
      th album Name
      th Photo
    tbody
      each album in albums
        tr
          td= album.name
          td: img(src='/img/#{album.photo}')
